.App {
    height: 100vh;
    background-color: rgba(30, 67, 116, 0.842);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
@media only screen and (min-width: 900px) {
.title{
  color: rgb(146, 178, 219);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 4vw;
}  
#quote-box{
  height: 30vh;
  width:33%;
  background-color: white;
  border-radius: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25vh;
}
.box{
  height: 25vh;
  width: 26vw;
}

#text {
  height: 13vh;
  color:rgba(30, 67, 116, 0.842);
  width: 100%;
  display: flex;
  text-align: center;
  justify-content:center;
  padding-top: 5%;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

#author {
  
  height: 5vh;
  width: 100%;
  color: rgba(30, 67, 116, 0.842);
  display: flex;
  justify-content: flex-end;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size:1.5vw;

}

.buttons {
    display: flex;
    justify-content: space-between;
}

.newquote{
  height: 4vh;
  font-size: 0.7vw;
  width: 5vw;
  font-family: 'Baloo Bhaina 2', cursive;
  border: 0px black solid;
  border-radius: 5%;
  color: white;
  background-color: rgba(30, 67, 116, 0.842);
  justify-content: flex-end;
}

.newquote:hover{
  cursor: pointer;
  opacity: 0.9;
  
}
.icon_a{
  color: rgba(30, 67, 116, 0.842);
}
}

@media only screen and (max-width: 900px){
  .title{
    color: rgb(146, 178, 219);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 6vw;
  } 
  #quote-box{
    height: auto;
    width:70%;
    background-color: white;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25vh;
  }
  .box{
    height: auto;
    width: 80%;
  }
  
  #text {
    height: auto;
    color:rgba(30, 67, 116, 0.842);
    width: 100%;
    display: flex;
    text-align: center;
    justify-content:center;
    padding-top: 5%;
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    margin-bottom: 10px;
  }
  
  #author {
    
    height: auto;
    width: 100%;
    color: rgba(30, 67, 116, 0.842);
    display: flex;
    justify-content: flex-end;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size:100%;
    padding-bottom: 10px;
  
  }
  
  .buttons {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
  }
  
  .newquote{
    height: auto;
    
    width: 25%;
    font-family: 'Baloo Bhaina 2', cursive;
    border: 0px black solid;
    border-radius: 5%;
    color: white;
    background-color: rgba(30, 67, 116, 0.842);
    justify-content: flex-end;
    font-size: 50%;
  }
  
  .newquote:hover{
    cursor: pointer;
    opacity: 0.9;
    
  }
  .icon_a{
    color: rgba(30, 67, 116, 0.842);
  }
}